In [145]:
df1['name']=df1["First Name"].str.cat(df1["Last Name"],sep=" ")
#df1=df1['First Name'].str.cat(df1['Last Name'],sep=" ") gives no error but it converts df to an object dtype

In [146]:
df1['name'].head()

0                  Waseem Akram
1              Asifa khan Asifa
2                 nadia khattak
3               Muhammad  Ayaz
4    Muhammad waqas khan  Khan
Name: name, dtype: object

In [147]:
df1.describe()

,Age,Score,Initial Screening Percentage,Agreegate Percentage,Submitted At,Unnamed: 28
count,5018.000000,5018.000000,5018.000000,5015.000000,5017.000000,0.0
mean,24.484456,66.778996,0.445193,0.340216,43706.233994,NaN
std,3.639618,23.700804,0.158005,0.172577,8.627912,NaN
min,17.000000,-18.000000,-0.120000,-0.056667,43697.629770,NaN
25%,22.000000,52.000000,0.346667,0.213333,43699.472810,NaN
50%,24.000000,67.000000,0.446667,0.303333,43702.376460,NaN
75%,26.000000,81.000000,0.540000,0.448333,43711.092250,NaN
max,49.000000,152.000000,1.013333,0.940000,43731.626220,NaN

In [148]:
df1.shape

(5018, 21)