In [17]:
df1.fillna(0, inplace=True)

In [18]:
df1.isnull().sum()

First Name                                        0
Last Name                                         0
Gender                                            0
Age                                               0
Applied Course                                    0
Domicile                                          0
What best describes your access to a computer?    0
Academic Concentration                            0
CGPA/Final Average GPA                            0
Highest level of Education                        0
Training district                                 0
Score                                             0
Initial Screening Percentage                      0
Points Scored Screning Test                       0
Screening Test Percentage                         0
Agreegate Percentage                              0
Submitted At                                      0
Status                                            0
Batch                                             0
Unnamed: 28                                       0
name                                              0
dtype: int64

In [19]:
df1['Batch'].value_counts()

0                4812
ADS-AZ-C1-B1       98
ADS-AWS-C1-B1      56
ADS-BD-C1-B1       50
Not Allocated       2
Name: Batch, dtype: int64

In [20]:
df1['Gender'].value_counts()

Male      4636
Female     382
Name: Gender, dtype: int64

In [21]:
df1['Training district'].value_counts()

Peshawar                        2626
Mardan                           640
Abbottabad                       512
Swat                             273
Haripur                          253
Malakand                         189
D.I.Khan                         178
Kohat                            142
Bannu                            134
Swabi                             17
Nowshera                           5
swabi                              4
Mansehra                           4
Upper Dir                          3
Chitral                            3
Buner                              2
0                                  2
Hangu                              2
Dir lower                          2
Nowshera                           2
Swabi                              2
Dera Ismail Khan                   2
Bajaur                             1
lower dir timergara                1
Mansehra (Hazara Universiy)        1
Upper Dir or Lower Dir             1
Tank                               1
Chitral                            1
Upper dir                          1
Khyber                             1
Lower Dir                          1
chitral                            1
Charsadda                          1
LOWER  Dir (Timergare)             1
Buner                              1
Lower dir                          1
NOWSHERA                           1
Lower dir                          1
Upper Kohistan                     1
Dir                                1
South Waziristan                   1
Peshawar                           1
Lakki Marwat                       1
Name: Training district, dtype: int64